:root{ /*Es para determinar los colores como la raíz de los colores*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}

/*Truco para uniformidad de texto entre navegadores*/
html{/* esto sirve para que entre navegadores distintos no cambie tanto. para tener una uniformidad entre navegadores */
    font-size: 62.5%;
}
body{/* esto sirve para que entre navegadores distintos no cambie tanto. para tener una uniformidad entre navegadores*/
    font-size: 16px;
}
/*---------------------------------------------------------------------------------------------------*/
/*Se aplica desde 0px */
body{
     background-color: crimson;
}
/*Recomendado
480 px móviles
768 px tablets
*/
@media (min-width: 480px){
    body{
        background-color: blueviolet;
    }
}
@media (min-width: 768px){
    body{
        background-color: bisque;
    }
}

/*---------------------------------------------------------------------------------------------------*/


/* El punto es para hacer referencia o "llamar" a clases (variables)*/
.title
{
    text-align: center; /* funciona para alinear el texto en medio centrado*/
    font-size: 3.8rem; /* Es el tamaño de la letra, es recomendable en rem para que sea más exacto*/
}

.title span /*Se vuelve a llamar porque se le puso span, esto es para que abarque a una parte del titulo solamente*/
{
    font-size: 2rem;
}

/*ESTILO PARA NAVEGACIÓN PRINCIPAL, PARA LA BARRA DE SECCIONES*/
.navegacion-principal
{
    background-color: var(--secundario);
    display: flex;/*Sirve para alinear elementos en los diseños*/
    /*Justify-content es para alinear texto para FILAS
        align-items: sirve para columnas y si se usa usar flexdirection*/
    justify-content: space-between;  
    font-weight: bold;  /*Es para poner negritas*/
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
 
}
/*Al poner el cursor sobre el hipervinculo*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a{
    color:var(--blanco);
    text-decoration: none; /*quita el estilo subrayado al texto*/
    padding: 1rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
        
}
.nav-bg{
    background-color: var(--secundario);
}
.hero{
    background-image: url(../img/hero.jpg); 
    /* dos puntos diagonal es para regresar un nivel de directorio ya que la carpeta img esta afuera de css*/
    background-repeat: no-repeat; /*es para cuando la pantalla no se repita si la pantalla es más grande que la image(para que no rellene)*/
    background-size: cover; /*para que se vaya estirando, y que abarque todo el tamaño posible*/
}


