:root{ /*Es para determinar los colores como la raíz de los colores*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #b6b6b6;

}

/*Truco para uniformidad de texto entre navegadores*/
html{/* esto sirve para que entre navegadores distintos no cambie tanto. para tener una uniformidad entre navegadores */
    font-size: 62.5%;
}
body{/* esto sirve para que entre navegadores distintos no cambie tanto. para tener una uniformidad entre navegadores*/
    font-size: 16px;
        font-family: 'Krub',sans-serif;
    background-image:linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%)
}

/*---------------------------------------------------------------------------------------------------*/

h1,h2,h3 /*Para centrar todos estos titulos*/
{
    text-align: center;
}
/*Tamaños de las tipografias*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
/*span*/
.title span /*Se vuelve a llamar porque se le puso span, esto es para que abarque a una parte del titulo solamente*/
{
    font-size: 2rem;
}

/*ESTILO PARA NAVEGACIÓN PRINCIPAL, PARA LA BARRA DE SECCIONES*/
.navegacion-principal
{
    display: flex;/*Sirve para alinear elementos en los diseños*/
    /*Justify-content es para alinear texto para FILAS
        align-items: sirve para columnas y si se usa usar flexdirection*/
    justify-content: space-between;  
    font-weight: bold;  /*Es para poner negritas*/
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
 
}
/*Al poner el cursor sobre el hipervinculo*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a{
    color:var(--blanco);
    text-decoration: none; /*quita el estilo subrayado al texto*/
    padding: 1rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
        
}
.nav-bg{
    background-color: var(--secundario);
}
.hero{
    background-image: url(../img/hero.jpg); 
    /* dos puntos diagonal es para regresar un nivel de directorio ya que la carpeta img esta afuera de css*/
    background-repeat: no-repeat; /*es para cuando la pantalla no se repita si la pantalla es más grande que la image(para que no rellene)*/
    background-size: cover; /*para que se vaya estirando, y que abarque todo el tamaño posible*/
    height: 450px; /*alto del elemento hero*/
    position: relative; /* position es para manipular la posicion de algo. El padre siempre tiene que ser relativo (la clase que contiene el contenido)*/
}
.contenido-hero
{
    position: absolute; /*El hijo siempre depende del padre. El hijo se considera al contenido que se encuentra encima de la imagen, siempre debe ser absoluto*/
    background-color: rgba(0, 0, 0, .7);
    width:100%;
    height: 100%;
    /*Alinear el texto vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenido-hero p,
.contenido-hero h2
{
    color:var(--blanco);
    
}
.boton {
    background-color: var(--secundario); /* Color de fondo similar al botón de la imagen */
    color: var(--blanco);         /* Color del texto */
    text-decoration: none;
    padding: 1rem 3rem;        /* Relleno para un buen tamaño del botón */
    border: none;
    font-size: 16px;           /* Tamaño de la fuente */
    font-weight: bold;         /* Negrita para el texto */
    border-radius: .5rem;        /* Bordes redondeados */
    margin-top: 3rem;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
}
@media (min-width: 768px){
    .boton{
        width: auto;
    }
 
}

.icono-ciudad{
    display: flex;
    align-items:flex-end;
}

